<script src="assets/js/jquery.slim.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<div class="footer">
  <div class="container text-muted text-center">
    <div class="row mb-2">
      <div class="col-12 col-lg-4 offset-lg-4">&copy; {{site.time | date: '%Y'}} <a href="{{ '/' | relative_url }}">{{ site.name }}</a></div>
      <div class="col-12 col-lg-3 offset-lg-1"><i><a href="https://github.com/HanBnrd/Horizon" target="_blank">Horizon</a> theme by <a href="https://hanbnrd.gitlab.io" target="_blank">Han</a></i></div>
    </div>
  </div>
</div>
