.background-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    overflow: hidden;
}
.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}
.background-container video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}
.background-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}
.background-overlay {
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: #ececec;
    z-index: 1;
}
.picture {
    border-radius: 100%;
    border: 3px solid #ececec;
    box-shadow: 2px 2px 5px 2px #00000050;
    width: 180px;
    height: 180px;
}
.social {
    color: #ececec;
}
.social:hover {
    color: #ececec;
    transform: scale(1.1);
}

.card-hover:hover {
    filter: brightness(95%);
}

.card-img-big {
    min-height: 250px;
    max-height: 450px;
    object-fit: cover;
    filter: brightness(85%);
}

body {
    overflow-y:scroll;
    background-color: #ececec;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
