header.masthead {
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: #ececec;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

header.section {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 400px;
}

img.picture {
    border-radius: 100%;
    border: 3px solid #ececec;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 180px;
    height: 180px;
}

.card-img-big {
    height: 250px;
    object-fit: cover;
    filter: brightness(85%);
}

.card-hover:hover {
    filter: brightness(98%);
    transform: translateY(-1px);
}

.social {
    color: #ececec;
}
.social:hover {
    color: #ececec;
    transform: scale(1.1);
}

body {
    overflow-y:scroll;
    background-color: #ececec;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}