<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} &bull; {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/fonts/fontawesome/css/all.css' | relative_url }}">
  </head>
  <body>
    {% include navbar.html %}
    <main>

      <header class="masthead" style="background-image: url({{ 'assets/img/' | append: site.background }});">
        <div class="container">
          <h1>{{ site.name }}</h1>
          <h5>{{ site.about }}</h5>
          <br>
          <img class="picture" src="{{ 'assets/img/' | append: site.picture }}" alt="">
          <br><br>
          <div class="container text-center">
            <div class="fa-2x">
              <i class="fab fa-github"></i>
              <i class="fab fa-gitlab"></i>
              <i class="far fa-envelope"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>
        </div>
      </header>

      <br>
      <div class="container text-center">
        <h5>{{ content }}</h5>
      </div>

      <div class="row my-3 mx-1 row-cols-1 row-cols-md-2 row-cols-xl-4 text-center">
        <div class="col mb-4">
          <div class="card shadow border-0">
            <img src="{{ 'assets/img/' | append: page.education-img }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Education</h3><a href="/education" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card shadow border-0">
            <img src="{{ 'assets/img/' | append: page.experience-img }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Experience</h3><a href="/experience" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card shadow border-0">
            <img src="{{ 'assets/img/' | append: page.projects-img }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Projects</h3><a href="/projects" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card shadow border-0">
            <img src="{{ 'assets/img/' | append: page.publications-img }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Publications</h3><a href="/publications" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </div>

    </main>
    {% include footer.html %}
  </body>
</html>
