<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} &bull; {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/fonts/fontawesome/css/all.css' | relative_url }}">
  </head>
  <body>
    {% include navbar.html %}
    <header class="masthead" style="background-image: url({{ 'assets/img/' | append: site.background }});">
      <div class="container">
        <h1>{{ site.name }}</h1>
        <h4>{{ site.about }}</h4>
        <img class="picture" src="{{ 'assets/img/' | append: site.picture }}" alt="">
        <br><br>
        <h5>{{ site.description }}</h5>
      </div>
    </header>

  {{ content }}

  <div class="row my-3 mx-1 row-cols-1 row-cols-md-2 row-cols-xl-4">
    <div class="col mb-4">
      <div class="card">
        <img src="{{ 'assets/img/' | append: page.education-img }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Education</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{{ 'assets/img/' | append: page.experience-img }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Experience</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{{ 'assets/img/' | append: page.projects-img }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Projects</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{{ 'assets/img/' | append: page.publications-img }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Publications</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>


    {% include footer.html %}
  </body>
</html>
