<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} &bull; {{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="{{ '/favicon.png' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/fonts/fontawesome/css/all.css' | relative_url }}">
  </head>
  <body>
    {% include navbar.html %}
    <main>

      <header class="masthead" style="background-image: url({{ 'assets/img/' | append: site.background }});">
        <div class="container">
          <h1>{{ site.name }}</h1>
          <h5>{{ site.about }}</h5>
          <br>
          <img class="picture" src="{{ 'assets/img/' | append: site.picture }}" alt="">
          <br><br>
          <div class="container text-center">
            <div class="fa-lg">
              {% if site.github %}
              <a class="social" href="{{ 'https://github.com/' | append: site.github }}" title="GitHub" target="_blank"><i class="fab fa-github px-2 social"></i></a>
              {% endif %}
              {% if site.gitlab %}
              <a class="social" href="{{ 'https://gitlab.com/' | append: site.gitlab }}" title="GitLab" target="_blank"><i class="fab fa-gitlab px-2 social"></i></a>
              {% endif %}
              {% if site.email %}
              <a class="social" href="{{ 'mailto:' | append: site.email }}" title="Email" target="_blank"><i class="far fa-envelope px-2 social"></i></a>
              {% endif %}
              {% if site.linkedin %}
              <a class="social" href="{{ 'https://www.linkedin.com/in/' | append: site.linkedin }}" title="LinkedIn" target="_blank"><i class="fab fa-linkedin-in px-2 social"></i></a>
              {% endif %}
              {% if site.twitter %}
              <a class="social" href="{{ 'https://twitter.com/' | append: site.twitter }}" title="Twitter" target="_blank"><i class="fab fa-twitter px-2 social"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
      </header>

      <br>
      <div class="container text-center">
        <h5>{{ content }}</h5>
      </div>

      <div class="row text-center m-1">
        <div class="col-12 col-sm-6 col-lg-3 p-1">
          <div class="card card-hover shadow border-0">
            <img src="{{ 'assets/img/' | append: page.education-img }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Education</h4><a href="{{ '/education' | relative_url }}" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 p-1">
          <div class="card card-hover shadow border-0">
            <img src="{{ 'assets/img/' | append: page.experience-img }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Experience</h4><a href="{{ '/experience' | relative_url }}" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 p-1">
          <div class="card card-hover shadow border-0">
            <img src="{{ 'assets/img/' | append: page.projects-img }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Projects</h4><a href="{{ '/projects' | relative_url }}" class="stretched-link"></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 p-1">
          <div class="card card-hover shadow border-0">
            <img src="{{ 'assets/img/' | append: page.publications-img }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Publications</h4><a href="{{ '/publications' | relative_url }}" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </div>

    </main>
    {% include footer.html %}
  </body>
</html>
