<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} &bull; {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/fonts/fontawesome/css/all.css' | relative_url }}">
  </head>
  <body>
    {% include navbar.html %}
    <main>

      <div class="card m-2 shadow border-0 mb3">
        <img class="card-img-top card-img-big" src="{{ 'assets/img/' | append: page.image }}" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-title text-center">{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>

    </main>
    {% include footer.html %}
  </body>
</html>
