<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.name }} &sdot; {{ site.about }}">
    <meta name="author" content="{{ site.name }}">

    <meta property="og:title" content="{{ site.title }} &bull; {{ page.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ site.name }} &sdot; {{ site.about }}">
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
    {% if site.background-video %}
      <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ '/assets/videos/' | append: site.background-video-thumbnail }}">
    {% else %}
      <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ '/assets/img/' | append: site.background-image }}">
    {% endif %}

    <title>{{ site.title }} &bull; {{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="{{ '/favicon.png' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/fonts/fontawesome/css/all.css' | relative_url }}">
  </head>
  <body>
    {% include navbar.html %}
    <main>

      <div class="card m-2 shadow border-0 mb3">
        <img class="card-img-top card-img-big" src="{{ 'assets/img/' | append: page.image }}" alt="Card image cap">
        <div class="card-body">
          <br>
          <h1 class="card-title text-center">{{ page.title }}</h1>
          <br><br>
          <div class="container">
            {{ content }}
          </div>
        </div>
      </div>

    </main>
    {% include footer.html %}
  </body>
</html>
